.git
.gitignore
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
EnterpriseApp/.env
*.sqlite3
/db.sqlite3-app
/db.sqlite3-data
/media/uploads/
/media/reports/
/media/temporal/
/media/file_templates/modified_*
/media/file_templates/temporal.*
/media/file_templates/Erasable/
node_modules
static/node_modules
npm-debug.log
Pipfile
Pipfile.lock
*.session.sql
